body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f4f6f9;
}

header{
    background:#1f2937;
    color:white;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.container{
    display:flex;
}

.sidebar{
    width:220px;
    background:#111827;
    min-height:100vh;
    padding:15px;
}

.nav-item{
    display:block;
    width:100%;
    margin-bottom:10px;
    padding:12px;
    border:none;
    background:#374151;
    color:white;
    cursor:pointer;
}

.nav-item.active{
    background:#2563eb;
}

main{
    flex:1;
    padding:20px;
}

.view{
    display:none;
}

.active-view{
    display:block;
}

form{
    display:flex;
    flex-direction:column;
    gap:10px;
    max-width:500px;
}

input,
textarea,
select{
    padding:10px;
    border:1px solid #ccc;
    border-radius:4px;
}

button{
    padding:10px;
    cursor:pointer;
}

.emergency{
    background:red;
    color:white;
    font-weight:bold;
}

#activityList{
    list-style:none;
    padding:0;
}

#activityList li{
    background:white;
    margin-bottom:10px;
    padding:10px;
    border-radius:5px;
    box-shadow:0 1px 3px rgba(0,0,0,.1);
}
